h2{
    font-family: 'Courier New', Courier, monospace;
}

.container{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    min-height: 768px;
}

.wrapper{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    min-height: 768px;
}

.content{
    margin: 0 auto;
    width: auto;
    min-width: 1366px;
    height: auto;
    min-height: 768px;
    background:grey;
    padding: 50px;
}
.github{
background-color: #000000;
    color: yellow;
    padding: 16px;
    height: 50px;
    width: 150px;
    font-size: 16px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}
    

.dropbtn {
    background-color: #000000;
    color: yellow;
    padding: 16px;
    height: 50px;
    width: 150px;
    font-size: 16px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
  }

  .dropdown {
    padding: 10px;
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Courier New', Courier, monospace;
  }

  .dropdown-content a {
    color: lightblue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: black;}

